# JSLK Gitignore Templates
# Object Files 
*.o
*.d
*.map
*.nm

# Compiled Binaries
*.a
*.kernel
*.elf
*.img
*.iso

# Other
.vscode
/.vscode
*.DS_Store
*.ds_store
TODO.md
/TODO.md
/diff